<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="container" action="{% url 'todos:create' %}" method="GET">
        <div>
            <label for="title">할 일 제목</label><br>
            <input type="text" name="title">
        </div>
        <div>
            <label for="content">할 일 내용</label><br>
            <textarea name="content" id="content" cols="30" rows="5"></textarea>
        </div>
        <div>
            <label for="priority">우선 순위</label><br>
            <input type="number" name="priority">
        </div>
        <div>
            <label for="deadline">마감 기간</label><br>
            <input type="date" name="deadline">
        </div>
        <input type="submit">
        <div>
            <a href="/todos/">뒤로가기</a>
        </div>
    </form>
</body>
</html>